.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.app-wrapper {
  display: flex;
}
.container {
  width: 100%;
  /* height: 400px; */
  padding: 16px;
  border: 2px solid black;
}

.datasource {
  list-style: none;
  padding-left: 0;
}
.column li{
  width: 250px;
  padding:  17px;
  border: 1 px solid black;

}

.datasource li {
  display: flex;
  align-items: center;
  border: solid 2px black;
  border-radius: .2em;
  padding: .5em .8em .5em .5em;
  margin-bottom: 1em;
}

.datasource p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
